<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.90" targetFramework="net461" />
  <package id="Dapper.Contrib" version="2.0.78" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.11.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="6.11.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.11.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.114.3" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.114.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.11.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
</packages>